<ngx-spinner type="ball-scale-multiple"><p style="color: white" > Cargando... </p></ngx-spinner>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 center">
        <h1>Facturas</h1>
    </div>
</div>
<div  class="row  table-container">  
    <div class="col-cs-12 col-sm-12 col-md-12 col-lg-12">

        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
            <!-- actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row" class="actions">

                    <button *ngIf="row.status != 'Desactivado'" mat-icon-button  (click)="updateStatus(row)">
                        <mat-icon>email</mat-icon>
                    </button>
                </td>                    
            </ng-container>   
          
            <!-- id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let row; index as i" style="width:2%">{{ i+1}}</td>
            </ng-container>

            <ng-container  matColumnDef="invoiceCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Factura</th>
                <td mat-cell *matCellDef="let row" class ="">{{ row.invoiceCode }}</td>
            </ng-container>
           
            <ng-container  matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let row" class ="">{{ row.client }}</td>
            </ng-container>
            
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                <td mat-cell *matCellDef="let row">{{ row.city}}</td>
            </ng-container>
            
            <ng-container matColumnDef="nit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>nit</th>
                <td mat-cell *matCellDef="let row">{{ row.nit }}</td>
            </ng-container>
    
            <ng-container matColumnDef="invoiceTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let row">{{ row.invoiceTotal | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="invoiceSubTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total</th>
                <td mat-cell *matCellDef="let row">{{ row.invoiceSubTotal | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="iva">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Iva</th>
                <td mat-cell *matCellDef="let row">{{ row.iva | currency }}</td>
            </ng-container>

            <ng-container matColumnDef="retention">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Retención</th>
                <td mat-cell *matCellDef="let row">{{ row.retention | currency }}</td>
            </ng-container>
            
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Creación</th>
                <td mat-cell *matCellDef="let row">{{ row.createdAt }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let row">{{ row.status }}</td>
            </ng-container>

            <ng-container matColumnDef="paid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagada</th>
                <td mat-cell *matCellDef="let row">{{row.paidText}}</td>
            </ng-container>

            <ng-container matColumnDef="paidAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de  Pago</th>
                <td mat-cell *matCellDef="let row">{{ row.paidAt }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            
        </table>
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100, 250]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>